:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5 !important;
  font-weight: 400 !important;

  color-scheme: dark !important;
  color: rgba(255, 255, 255, 0.87) !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

body {
  line-height: 1.5 !important;
  font-weight: 400 !important;

  color-scheme: dark !important;
  color: rgba(255, 255, 255, 0.87) !important;
  background-color: #FAF9F9 !important;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color-scheme: dark;
}

#root {
  width: 100vw;
  height: 100vh;
}
