
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5 !important;
  font-weight: 400 !important;

  color-scheme: dark !important;
  color: rgba(255, 255, 255, 0.87) !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bs-list-group-item-padding-x: 0 !important;
}

body {
  line-height: 1.5 !important;
  font-weight: 400 !important;

  color-scheme: dark !important;
  color: rgba(255, 255, 255, 0.87) !important;
  background-color: #FAF9F9 !important;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  color-scheme: dark;
}

#root {
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.plate {
  display: flex;
  width: 100%;
  max-width: 240px;
  height: 42px;
  background-color: #ffcc00;
  border: 2px solid #000;
  border-radius: 6px;
  overflow: hidden;
  font-family: 'Share Tech Mono', monospace;
  margin-top: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.eu-banner {
  width: 50px;
  background-color: #003399;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  font-size: 10px;
}

.eu-stars {
  width: 25px;
  height: 25px;
  margin-bottom: 2px;
}

.plate-number {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: black;
  letter-spacing: 2px;
}

.active .page-link{
  background-color: #ffc107;
  border-color: orange;
  color: #212529;
}

.page-link{
  background-color: #fff;
  color: #212529;
}

.primary{
  background-color: #fff;
  color: #212529;
  accent-color: yellow;
  border-color: #dee2e6;
}
.primary:hover{
  background-color: lightgray;
  color:#212529;
  border-color: #212529;
}

.secondary{
  background-color: #fff;
  color: #212529;
  accent-color: yellow;
  border-color: #dee2e6;
}

.secondary:hover{
  background-color: lightgray;
  color:#212529;
  border-color: #212529;
}

.buttons{
  background-color: #ffc107;
  color: #212529;
  accent-color: yellow;
  border-color: #ffc107;
}

.buttons:hover{
  background-color: #ffca2c;
  color: #212529;
  border-color: #ffca2c;
}

.errorCancel{
  background-color: red;
  color: black;
  border-color: red;
}

.errorCancel:hover{
  background-color: darkred;
  border-color: darkred;
}

.succesConfirm{
  background-color: green;
  color: black;
  border-color: green;
}

.succesConfirm:hover{
  background-color: darkgreen;
  border-color: darkgreen;
}
